@font-face {
  font-family: Gloucester MT Extra Condensed;
  src: url("assets/fonts/glecb.ttf") format(truetype);
}
@font-face {
  font-family: NexaRegular;
  src: url("assets/fonts/Nexa-Light.ttf") format(truetype);
}
@font-face {
  font-family: NexaBold;
  src: url("assets/fonts/Nexa-Bold.ttf") format(truetype);
}
@font-face {
  font-family: Amithen;
  src: url("assets/fonts/Amithen.ttf") format(truetype);
}
.App {
  overflow-x: hidden;

  background-color: var(--bckg-clr);
}
h1,
h2,
h3,
h4,
h5,
.splt-txt {
  font-family: Gloucester MT Extra Condensed;
}
*:not(h1, h2, h3, h4, h5) {
  font-family: NexaRegular;
}
p {
  color: var(--clr);
}
button,
a {
  font-family: NexaBold;
  cursor: pointer;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* cursor: none !important; */
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 15px;

  font-weight: 400;

  --clr: rgb(36, 36, 36);
  --bckg-clr: #f0f6ff;
  --pmr-clr: #4286e8;
  --sdy-clr: #ffd731;
  --th-clr: #e5f0ff;
  --bx-shw: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  /* --bx-shw: 0 20px 50px -25px black; */

  --trns: 400ms;

  --wdth-sc: 70%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.hddn-itm {
  overflow: hidden;
}
/* BROADER STYLES */

/*  */
.ctnr-wrppr {
  display: flex;
  flex-direction: column;
}
.ctnr {
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: var(--bckg-clr);
}
.scnd-ctnr {
  overflow: hidden;
  position: relative;
  padding: 2rem 1rem;
  background-color: var(--bckg-clr);
}
.hr-hl {
  position: absolute;
  top: 0;
  left: 0;
  width: 10rem;
  height: 10rem;
  transform: rotate(180deg);
}
.hr-hl img {
  width: 100%;
  height: 100%;
}
.scnd-ctnr .bttn-pmr {
  background-color: var(--sdy-clr);
  color: var(--pmr-clr);
}
.scnd-ctnr .bttn-pmr:hv .scnd-ctnr .bttn-sdy {
  background-color: var(--clr);
  border: none;
  color: #ffff;
}
.scnd-ctnr .main-ttl {
  grid-area: sttl;
  text-align: right;
  color: var(--pmr-clr);
  width: 100%;
}

.bk-txt {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: min-content min-content min-content;
  gap: 1rem;
  grid-template-areas:
    "sttl sttl sttl sttl"
    "txt txt txt txt"
    "sdy sdy pmr pmr";
  justify-items: end;
}
.img-bk {
  width: 100%;
  transform: scale(1.4);
  margin-bottom: 2rem;
}
.txt-dsc {
  height: 10rem;
}
/* .frth-ctnr {
  display: flex;
  flex-direction: column;

  gap: 1rem;
} */
.copy {
  grid-area: copy;
}
.a {
  grid-area: imga;
  height: 50%;
  overflow: hidden;
}
.b {
  grid-area: imgb;
  height: 80%;
  overflow: hidden;
}
.c {
  height: 100%;
  overflow: hidden;
  grid-area: imgc;
}
.frth-ctnr {
  padding: 2rem 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr;

  justify-items: stretch;
  gap: 1rem;
}
.fth-ctnr .bttn {
  margin-top: 2rem;
  color: var(--pmr-clr);
}
.fth-ctnr .bttn:hover,
.thrd-ctnr .bttn-pmr:hover {
  background-color: #ffff;
  color: var(--pmr-clr);
}
.frth-ctnr .scss-strs {
  background: url(./assets/scss-strs.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
}
.scss-text {
  display: flex;
  flex-direction: column;
  align-self: baseline;
  gap: 1rem;
}
.frth-ctnr .main-ttl {
  color: var(--pmr-clr);
}
.frth-ctnr img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.frth-ctnr .main-ttl {
  grid-area: ttl;
}
.frth-ctnr .hr-txt {
  color: var(--clr);
}
.scnd-ctnr .main-ttl {
  text-align: center;
}

.grid-img {
  width: 50%;
  object-fit: contain;
  transition: 400ms;
  aspect-ratio: 1/1;
}
.grid-img:hover {
  transform: scale(1.05);
}

.frth-ctnr img:hover {
  transition: var(--trns);
  transform: scale(1.05);
}
.imgs-ctnr {
  display: flex;
  flex-direction: column;

  gap: 2rem;
}

.imgs-ctnr div {
  will-change: transform;
  width: 100%;
  display: flex;
  justify-content: center;
  /* box-shadow: 0 20px 50px -25px black; */
}

.hdr-ctnr {
  background: linear-gradient(
    90deg,
    rgba(66, 134, 232, 1) 0%,
    rgba(16, 93, 204, 1) 58%
  );

  width: 100%;
  position: fixed;

  padding: 0.5rem 1rem;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9998;
  box-shadow: var(--bx-shw);
}
.hdr-wrppr {
  width: var(--wdth-sc);
  margin: 0 auto;
}
.nv-wrppr {
  /*  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem); */
  background-color: var(--pmr-clr);
  top: -100%;
  left: 0;
  right: 1rem;
  height: 100vh;
  width: 100%;
  position: fixed !important;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 9997;
  gap: 10rem;
  flex-direction: column;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  padding: 60.19px 1rem 6rem 1rem;
}
.nv-ctnr {
  width: 100%;
}
.lnk-ctnr {
  display: flex;
  justify-content: space-around;

  margin-top: 0.5rem;
}
.bckgr-img-ctnr {
  background: url(./assets/mobile-menu-background.png);

  background-position: 50% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.nv-itm {
  list-style: none;
  padding: 1rem 0 1rem 0;
  position: relative;
  text-align: right;

  font-family: Nexa;
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  transition: 400ms;
  color: var(--clr);
  width: initial;
  cursor: pointer;
}
.hdr-lnk {
  list-style: none;
  background-color: #ffff;
  border-radius: 50%;
  display: grid;
  place-content: center;
  height: 2.1rem;
  width: 2.1rem;
  color: #105dcc;
}
.hdr-lnk a {
  color: var(--pmr-clr);
}
.nv-itm-act {
  color: var(--sdy-clr) !important;
  font-family: NexaBold;
}

.nv-itm:last-child {
  text-align: center !important;
  width: 100%;
  padding: 1rem;
  position: absolute;
  font-family: NexaBold;
  font-size: 1.1rem;
  color: #ffff;
  bottom: 5rem;
  left: 50%;
  transform: translate(-50%, 0) !important;
  display: flex;
  justify-content: center;
}
/* .nv-itm:not(:last-child) {
  border-top: 0.1px solid lightgrey;
  border-bottom: 0.1px solid lightgrey;
} */
.nv-itm span {
  min-width: 6rem;
  text-align: right;
  transition: 400ms;
  color: #ffff;
}
.nv-itm .icon {
  color: #ffff;
}
.icon-act {
  color: var(--sdy-clr) !important;
}
.nv-itm:hover {
  gap: 2rem;
}
.nv-itm:hover .icon {
  color: var(--sdy-clr);
  margin-left: 2rem;
  background-color: transparent;
}
.mn-ctnr {
  position: relative;
  z-index: 9998;
  padding: 1rem 0 1rem 1rem;
  cursor: pointer;
}
.mn-ctnr:hover .icon,
.lgo-ctnr:hover {
  transform: scale(1.1);
}
.lgo-ctnr,
.mn-ctnr {
  display: flex;
}
.lgo-ctnr {
  position: relative;
  z-index: 9999;
  transition: 400ms ease-in-out;
  cursor: pointer;
}
.mn-ctnr .icon {
  color: #ffff;
}
.logoImg {
  height: 3rem;
}

.main-ttl {
  font-size: clamp(1rem, 10vw, 20rem);
  will-change: trasnform;
  text-transform: capitalize;
  text-align: center;
  color: var(--clr);
}
.prgph {
  width: 10rem;
  font-size: 0.8rem;
  display: none;
}
.prgphA {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.prgphB {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  text-align: right;
}
.dsc-txt {
  text-align: center;
  text-transform: uppercase;
  font-family: NexaBold;
  letter-spacing: 1px;
}

.button {
  text-transform: capitalize;
  background-color: transparent;
  color: var(--pmr-clr);
  font-family: NexaBold;
  font-size: 1.1rem;
  transition: 500ms ease-in-out;
  position: relative;
  transition: 1000ms;
  overflow: hidden;
  border: none;
  pointer-events: none;
}

/* .bttn-lnk:hover::before {
  width: 100%;
  transition: 500ms ease-in-out;
} */
.bttn {
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  margin-top: 1rem;
  transition: var(--trns);
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 0.9rem;
}
.bttn-pmr {
  grid-area: pmr;
  background-color: var(--pmr-clr);
  padding: 1rem;
  color: #ffff;
  border-radius: 0.5rem;
}
.bttn-sdy {
  grid-area: sdy;
  color: var(--pmr-clr);
  border: 2px solid var(--pmr-clr);
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: transparent;
}
.bttn-try {
  background-color: var(--sdy-clr);
  padding: 1rem;
  border: none;
  color: var(--pmr-clr);
  border-radius: 0.5rem;
  margin-top: 1rem;
}
.bttn-lnk {
  max-width: 12rem;
  color: #ffff;
  padding: 0.3rem;

  border-radius: 2rem;

  padding: 0.4rem 1rem;
  font-size: 0.9rem;
  align-self: center;
}
.bttn-lnk:hover,
.bttn-pmr:hover,
.bttn-sdy:hover {
  background-color: var(--pmr-clr);
  color: #ffff;
  gap: 2rem;
}
.bttn-try:hover {
  background-color: #ffff;
  color: var(--pmr-clr);
}
.bttn-lnk::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  height: 5px;
  background-color: var(--pmr-clr);
  transition: 1000ms;
  width: 0;
}
.fst-ctnr {
  display: flex;
  z-index: 999;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2rem !important;
  overflow: hidden;
  align-items: center;
  gap: 1rem;
  border-radius: 0 0 10rem 0;
  /*  background: linear-gradient(
    90deg,
    rgba(29, 160, 231, 1) 0%,
    rgba(45, 108, 200, 1) 47%,
    rgba(16, 93, 204, 1) 100%
  );
 */
  background: url(./assets/hero_bg_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  min-height: 85vh;
  margin-top: 58px !important;
  margin-bottom: 0 !important;
  padding: 0 1rem;
}
.fst-ctnr .bttn-lnk {
  color: var(--pmr-clr);
  padding: 1rem 0;
  background-color: #ffff;
  border-radius: 0.8rem;

  width: 15rem;
  max-width: initial !important;
  min-width: initial !important;
}
.bttn-pmr,
.bttn-sdy,
.bttn-try {
  min-width: 100% !important;
  max-width: 15rem !important;
}
.fst-ctnr .hr-txt {
  margin: 0.5rem 0;
}
.fst-ctnr .main-ttl {
  color: #ffff;
}
.hr-txt {
  color: #ffff;
  text-align: center;
}
.flex-col-ctnr {
  z-index: 10;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.column2 {
  display: flex;
  align-items: center;
  justify-content: center;
  /*   position: relative; */
  /* height: 50vh; */
  width: 100%;
}

.img-ctnr {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: url(./assets/heroImg.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 40vh;
  background-size: contain;
  background-position: center;
}
.img-ctnr img {
  width: 5rem;
  height: auto;
  object-fit: cover;
  transition: 500ms ease-in-out;

  transform-origin: bottom;
}
.spc1 {
  margin: 1rem 0;
}
.icon {
  height: 1.3rem;
  width: 1.3rem;
  transition: 400ms;
}
/* .hr-img-ctnr {
  align-self: center;
}
.hr--img {
  height: 20rem;
} */
.fth-ctnr {
  padding: 2rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background: url(./assets/prd-sc-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.fth-ctnr .main-ttl {
  color: #fff;
}
.fth-ctnr .txt {
  color: #ffff;
}
.thrd-ctnr {
  background-color: var(--th-clr);
  padding: 2rem 1rem;

  gap: 1rem;
  background: url(./assets/prod-bg.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  display: flex;
  align-items: center;
}
.thrd-ctnr .main-ttl {
  color: #ffff;
  text-align: center;
}
.thrd-ctnr .bttn-pmr {
  background-color: var(--sdy-clr);
  box-shadow: 0 20px 50px -25px var(--sdy-clr);
  color: var(--pmr-clr);
}
.thrd-ctnr .txt {
  color: #ffff;
}
.thrd-ctnr .bttn-sdy {
  margin-bottom: 2rem;
}

.abt-m-ctnr {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 2rem 1rem 2rem 1rem;
  margin-top: 60px;
  background-color: #4084e7;
  position: relative;
}
.abt-bg {
  position: absolute;
  right: 0;

  bottom: 0;
  transform: translate();
  background: url(assets/abt-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 95%;
  height: 95%;
}
.abt-m-ctnr .main-ttl {
  color: var(--pmr-clr);
  position: relative;
  padding: 4rem 10% 0 10%;
  margin-bottom: 1rem;
}
.abt-m-ctnr .txt {
  position: relative;
  padding: 0 10%;
}
.abt-m-img {
  background: url(assets/liset-abt.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
  transform: scale(1.3);
}
.abt-m-sc2 {
  background-color: var(--pmr-clr);
  background: linear-gradient(
    90deg,
    rgba(66, 134, 232, 1) 0%,
    rgba(50, 121, 223, 1) 36%,
    rgba(16, 93, 204, 1) 56%
  );

  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0 10rem 0 0;
}
.abt-m-sc2 .main-ttl,
.abt-m-sc2 .txt {
  color: #ffff;
  text-align: center;
}
.abt-m-sc2 .bttn-try:hover {
  color: var(--pmr-clr) !important;
  background-color: #ffff !important;
}
.abt-m-lg-ctnr {
  width: 100%;
}
.abt-m-lg-ctnr img {
  width: 100%;
}
.scss-scrn {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #e5f0ff 0%, #e5f0ff 50.22%, #4286e8 100%),
    url(./assets/ss_background.jpg), #e5f0ff;
  background-blend-mode: overlay, normal, normal;
}
.scss-scrn .txt {
  text-align: center;
  margin: 0.5rem 0 1rem 0;
}
.scss-scrn .bttn {
  margin-top: 2rem;
}
.scss {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.scss-scrn img {
  width: 100%;
  object-fit: cover;
}
.scss-scrn .main-ttl {
  color: var(--pmr-clr);
}
.scss-1 .scss-tstm::after {
  content: "-Nelvis Nodarse";
  font-size: 1.1rem;
  color: var(--pmr-clr);
}
.scss-2 .scss-tstm::after {
  content: "-Irma Diclemente";
  font-size: 1.1rem;
  color: var(--pmr-clr);
}
.srv-ctnr {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: url(./assets/wgh-lss-bg.jpg);
  background-position: 65% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.srv-ctnr .main-ttl {
  color: #ffff;
}
.srv-ctnr .txt {
  color: #ffff;
}
.ftr-ctnr {
  background: linear-gradient(
    0deg,
    rgba(0, 68, 167, 1) 0%,
    rgba(16, 99, 219, 1) 100%
  );
  gap: 3rem;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
}
.ftr-lst {
  border-bottom: 1px solid var(--pmr-clr);
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.ftr-lst-itm {
  list-style: none;
  color: #ffff;

  text-align: center;
  font-family: NexaRegular;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
.ftr-lst-itm-act {
  color: var(--sdy-clr);
  font-family: NexaBold;
}
.ftr-lg-img {
  align-self: center;
  max-width: 15rem;
}
.ftr-lg-ctnr {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #ffff;
  display: grid;
  place-content: center;
  transition: var(--trns);
}
.ftr-lg-ctnr:hover .icon,
.ftr-lst-itm:hover,
.hdr-lnk:hover .icon {
  color: var(--sdy-clr);
}
.sm-ctnr {
  display: flex;
  gap: 1rem;
}
.ftr-hdr {
  font-size: 1.2rem;
  color: #ffff;
  font-family: NexaBold;
  margin-bottom: 1rem;
  text-align: center;
  border-bottom: 2px solid var(--sdy-clr);
  width: initial;
}
.ftr-txt {
  text-align: center;
  color: #ffff;
}
.ftr-txt a {
  color: var(--sdy-clr);
  margin-left: 0.4rem;
}

.ftr-lg-ctnr .icon {
  color: #0044a7;
}
.scl-md {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.scl-md p {
  color: #ffff;
}
.ctc-ctnr {
  color: #ffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 0;
  border-bottom: 1px solid var(--pmr-clr);
}
.ctc-ctnr p {
  color: #ffff;
  margin-top: 2rem;
  text-align: center;
}

.prd-ctnr {
  background: url(./assets/prd-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  padding: 2rem 1rem;
  display: grid;
  margin-top: 60px;
  place-content: center;
}
.prd-grd {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(229, 240, 255, 0) 100%
  );
}
.prd-ctnr .main-ttl {
  color: var(--pmr-clr);
  position: relative;
}
.prd-ctnr .txt {
  color: var(--clr);
  position: relative;
}
.prd-itm-ctnr {
  padding: 2rem 1rem 5rem 1rem;
  align-items: initial;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  background-color: var(--pmr-clr);
}
.prd-itm-ctnr .main-ttl {
  color: #ffff;
}

.prd-itm-ctnr h4 {
  font-size: 1.2rem;
  color: black;
  font-family: NexaBold;
  text-align: center;
}
.prd-dsc p {
  text-align: center;
}
/* .prd-itm-ctnr h4::before {
  content: "•";
  font-size: 1.1rem;
  margin-right: 5px;
} */
.wgh-ls {
  background-color: var(--pmr-clr);
  padding: 2rem 1rem;
  display: grid;
  place-content: center;
}
.wgh-ls .main-ttl,
.wgh-ls .txt {
  color: #ffff;
}

.prm-ctnr {
  background: url(./assets/prm-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding: 2rem 1rem;
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
}

.prm-ctnr .main-ttl {
  color: var(--pmr-clr);
}

.itm-ctnr .prd-img-ctnr {
  padding-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.prd-itm-ctnr .itm-ctnr {
  display: flex;
  border-radius: 0.9rem;
  flex-direction: column;
  background-color: #ffff;
  align-items: center;
  box-shadow: var(--bx-shw);
}
.prd-itm-ctnr img {
  width: 70%;
}
.prd-dsc {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.prd-dsc .bttn-try {
  color: var(--pmr-clr);
}

.pgrm-srv {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--pmr-clr);
}
.amithen {
  display: block;
  font-family: Amithen;
  color: var(--sdy-clr);
  line-height: 1;
  position: relative;
  bottom: 13px;
  font-size: 5.8rem;
  transform: translatex(10px);
}
.pgrm-srv h3.main-ttl {
  font-size: 3.2rem !important;
  color: #ffff !important;
}
.grd-mdl .main-ttl {
  font-size: 4rem !important;
  text-transform: none;
}
.pgrm-srv h4,
.pgrm-srv h5 {
  color: var(--pmr-clr);
}
.mdl {
  background-color: #ffff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  position: relative;
  height: auto;
}
.mdl:nth-of-type(2) .mdl-nm {
  color: #3adda2 !important;
}
.mdl:nth-of-type(3) .mdl-nm {
  color: #64c7dd !important;
}
.mdl:nth-of-type(4) .mdl-nm {
  color: #9964dd !important;
}
.mdl-nm {
  color: var(--sdy-clr) !important;
  text-align: center;
}
.mdl-nm span {
  font-size: 2.5rem;
  font-family: NexaBold;
}
.pgrm-srv h5 {
  font-size: 2rem;
  margin: 0 0 0.5rem 0;
  width: 100%;
  text-align: left;
}
.fst-dvv {
  display: flex;
  justify-content: flex-start;
}
.mdl-poly-tp {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}
.mdl-poly-tp img {
  object-fit: cover;

  width: 4rem !important;
}

.pgrm-srv .main-ttl {
  color: #ffff;
}
.pgrm-srv li {
  list-style: none;
  margin-bottom: 0.5rem;
  color: #ffff;
}
.grd-mdl li {
  color: var(--clr);
}
.pgrm-srv li::before {
  content: "•";
  margin-right: 5px;
  font-size: 1.2rem;
  color: black;
}
.pgrm-srv .main-ttl {
  margin-bottom: 1rem;
}
.prgrm-srv ul li {
  margin-bottom: 1rem;
}
.ctc-ctnr {
  margin-top: 60px;
}
.ctc-ctnr h1 {
  color: black;
}

.skn-prd-ctnr {
  padding: 2rem 1rem;
}

.skn-prd-ctnr h4.main-ttl {
  color: var(--pmr-clr);
  font-size: 3rem;
  margin-bottom: 2rem;
}
.prd-img {
  display: flex;
  justify-content: center;
  width: 100%;
}
.skn-ctnr {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
.skn-ctnr:nth-of-type(2) {
  border-top: 1px solid lightgrey;
  padding-top: 2rem;
}

.skn-prd-txt {
  background-color: var(--pmr-clr);
  padding: 2rem 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--bx-shw);
}
.skn-prd-txt .txt {
  color: #ffff;
  text-align: center;
}
.skn-prd-ctnr .prd-img img {
  height: 30vh;
  object-fit: cover;
}
.skn-prd-ctnr .main-ttl {
  font-size: 3rem;
}

.ctc-scrn-ctnr {
  background: url(./assets/ctc-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 58px;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
}
.ctc-scrn-ctnr .main-ttl {
  color: #ffff;
  border-bottom: 3px solid var(--sdy-clr);
}
.ctc-label {
  font-family: NexaBold;
  font-size: 1.7rem;
}
.mth-ctnr p {
  color: #ffff;
  text-align: center;
}

.mth-ctnr div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  gap: 1rem;
  transition: var(--trns);
  text-decoration: none;
}
.mth-ctnr .bttn-try {
  margin-top: 0;
  background-color: transparent;
  color: white;
  border: 1px solid #ffff;
  letter-spacing: 1px;
}
.mth-ctnr .bttn-try:hover {
  background-color: #fff;
  border: none;
  color: var(--pmr-clr);
}
.bx-shdw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
    0deg,
    rgba(70, 175, 199, 1) 0%,
    rgba(72, 147, 255, 1) 40%
  );

  padding: 3rem 1rem;
  border-radius: 2rem;
  box-shadow: 10px 10px 0px -3px rgba(255, 215, 49, 1);
  margin-bottom: 3rem;
}
.bx-shdw .main-ttl {
  position: relative;
}
.tch-ctnr {
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
}
.tch-ctnr .main-ttl {
  color: var(--pmr-clr);
  font-size: 3.5rem !important;
  margin-bottom: 2rem;
}
.tch-ctnr li {
  margin-bottom: 0.5rem;
  margin: 0 2rem 0.5rem 2rem;
}
.mdl-poly {
  width: 3rem;
  display: none;
}
.mdl-poly img {
  height: 100%;
}
/* GSAP STYLES */ /* 
.bttn-lnk {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.anm,
.hr-txt-anm {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transform: translate(0, 3rem);
}

.main-ttl {
  transition: 100 ease-in-out;
}
#ttl,
#ttlB {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transform: translate(0, 3rem);
} */

/*  */

/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */

/* LOCOMOTIVE SCROLL STYLES */
/* html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
  z-index: 9999;
  display: none;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}
[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
  z-index: 9999;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
} */

/*  */

@media screen and (min-width: 772px) {
  .prd-grd {
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(229, 240, 255, 0) 80%
    );
  }
  .ftr-lst {
    align-items: flex-start;
  }
  .lnk-ctnr {
    margin-top: 0;
    display: flex;
    gap: 1rem;
  }
  .crs {
    width: 0.7rem;
    height: 0.7rem;
    position: fixed;
    background-color: rgb(36, 36, 36);
    border-radius: 50%;
    z-index: 9999;
    pointer-events: none;
    transition: 1200ms background-color, 400ms width, 400ms height;
  }
  .crs.crs-act {
    background: white;
    width: 4rem;
    height: 4rem;
    transition: 1200ms background-color, 400ms width, 400ms height;
    display: grid;
    place-content: center;
    padding: 0.5rem;
  }

  .crs.crs-act::before {
    content: "Open";
    display: grid;
    place-content: center;
    font-family: NexaBold;
  }
}

@media screen and (min-width: 600px) {
  .grid-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 400ms;
    aspect-ratio: 1/1;
  }
  .thrd-ctnr .main-ttl {
    text-align: left;
  }
  .main-ttl,
  .fst-ctnr .main-ttl {
    font-size: clamp(1rem, 8vw, 20rem);
  }
  .ftr-lst {
    padding: 0;
  }
  .scss img {
    width: 70%;
  }
}
/*  */
.scnd-ctnr .hr-txt,
.thrd-ctnr .hr-txt {
  color: var(--clr);
  grid-area: txt;
}
.thrd-ctnr .hr-txt {
  font-family: NexaRegular;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

@media screen and (min-width: 912px) {
  .skn-prd-txt {
    padding: 2rem 4rem;
  }

  .bx-shdw {
    padding: 2rem 5rem;
    width: 90%;
  }
  .txt,
  .text,
  .prd-dsc p,
  .prd-ctnr .txt,
  .fst-ctnr .hr-txt,
  .scnd-ctnr .hr-txt,
  .frth-ctnr .hr-txt,
  .scss-tstm,
  .pgrm-srv li,
  .tch-ctnr li {
    font-size: 18px !important;
  }
  .abt-m-ctnr .main-ttl {
    color: var(--pmr-clr);
    position: relative;
    text-align: left;
  }
  .abt-m-ctnr .txt {
    position: relative;
    padding-left: 10%;
  }
  .mdl-poly-tp {
    display: none;
  }

  .amithen {
    display: block;
    position: relative;
    bottom: 25px;
    /* transform: translateY(-25px); */
  }
  .skn-prd-txt .txt {
    min-height: 330px;
  }
  .skn-prd-txt {
    height: min(30vh, 100%);
  }
  .skn-ctnr:nth-of-type(1) {
    margin-top: 0;
  }
  .skn-ctnr:nth-of-type(2) {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
  }
  .mth-ctnr {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .ctc-scrn-ctnr .main-ttl {
    margin-bottom: 3rem;
  }
  .skn-prd-ctnr {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 600px));

    column-gap: 5%;
  }
  .skn-prd-ctnr .main-ttl {
    grid-column: 1/3;
  }
  .skn-ctnr h5.main-ttl {
    font-size: 3rem !important;
  }
  .prd-ctnr {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .prd-ctnr .txt {
    width: 40%;
    text-align: right;
  }
  .prd-ctnr .main-ttl {
    width: 60%;

    text-align: right;
  }
  .abt-m-sc2 .txt {
    padding: 0 20%;
  }
  .img-ctnr {
    height: 50vh;
  }
  .img-bk {
    transform: scale(1.6);
    margin-bottom: 0;
  }
  .srv-ctnr {
    align-items: flex-start;
  }
  .srv-ctnr .main-ttl {
    text-align: left;
  }
  .srv-ctnr div {
    width: 60%;
  }
  .prm-ctnr div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    width: 60%;

    justify-content: flex-end;
  }
  .prm-ctnr .main-ttl {
    text-align: right;
  }
  .prm-ctnr .txt {
    text-align: right;
  }
  .fst-ctnr .bttn-lnk {
    align-self: auto;
    max-width: 15rem !important;
  }
  .flex-col-ctnr {
    justify-content: center;
  }
  .img-ctnr {
    position: absolute;
    bottom: 0;
    height: 80vh;
  }

  .nv-itm:last-child {
    display: none;
  }
  .nv-itm:hover .icon {
    margin-left: 0;
  }
  .nv-itm .icon {
    position: absolute;
    left: -5px;
    top: -100%;
  }
  .icon-act {
    opacity: 1 !important;
    color: var(--sdy-clr) !important;
    left: -5px;
    top: 50% !important;
    transform: translate(0, -50%);
  }
  .prd-itm-ctnr {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 500px));
    grid-template-rows: min-content 1fr;
    column-gap: 1rem;
    min-height: auto;
  }
  .prd-itm-ctnr .main-ttl {
    grid-column: 1/4;
  }
  .prd-itm-ctnr .itm-ctnr {
    display: flex;
    flex-direction: column;
    border: none;
  }
  .prd-itm-ctnr img {
    min-height: 100%;
    max-height: 30vh;
    width: auto;
  }
  .prd-dsc {
    gap: 0.5rem;
    align-items: center;
  }
  .prd-itm-ctnr h4 {
    min-height: 56px;
    display: flex;
    align-items: center;
  }
  .prd-dsc p {
    min-height: 140px;
  }
  .grd-mdl {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, min-content);
    column-gap: 1rem;
  }
  .pgrm-srv {
    gap: 4rem;
  }
  .grd-mdl h4 {
    grid-column: 1 / 6;
    grid-row: 1/1;
  }
  .mdl {
    border-radius: 2rem;
    min-height: 230px;
    max-height: 250px;
    display: flex;

    justify-content: center;
    margin-bottom: 4rem;
  }
  .grd-mdl .main-ttl {
    margin-bottom: 3rem;
  }
  .mdl-poly {
    display: block;
  }
  /*   .mdl-poly img {
    min-height: 100% !important;

    max-height: 330px !important;
    object-fit: cover;
  } */
  .mdl-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mdl:nth-of-type(1) {
    grid-column: 1/4;
    grid-row: 2/2;
    padding: 1rem 6.5rem 1rem 2rem;
  }
  .mdl:nth-of-type(1) .mdl-poly img,
  .mdl.mdl:nth-of-type(3) .mdl-poly img {
    position: absolute;
    height: 200px;
    left: 95%;
  }
  .mdl:nth-of-type(2) .mdl-poly img,
  .mdl.mdl:nth-of-type(4) .mdl-poly img {
    left: -50px;
    height: 200px;
    transform: translateX(-35px);
  }

  .mdl:nth-of-type(2) {
    grid-column: 3/6;
    grid-row: 3/3;
    padding: 1rem 2rem 1rem 5rem;
  }
  .mdl:nth-of-type(3) {
    grid-column: 1/4;
    grid-row: 4/4;
    padding: 1rem 6.5rem 1rem 2rem;
  }

  .mdl:nth-of-type(4) {
    grid-column: 3/6;
    grid-row: 5/5;
    padding: 1rem 2rem 1rem 5rem;
  }
  .mdl:nth-of-type(1) .mdl-poly,
  .mdl:nth-of-type(3) .mdl-poly {
    height: 100%;
    transform: scale(1.5);
  }
  .mdl:nth-of-type(2) .mdl-poly,
  .mdl:nth-of-type(4) .mdl-poly {
    height: 100%;
    transform: scale(1.5) translateX(-130px);
  }
  .thrd-ctnr {
    display: flex;
    justify-content: flex-start !important;
    width: 100%;
    background-position: center;
  }
  .thrd-ctnr div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
  }
  .nv-wrppr {
    background-color: transparent;
  }
  .scss {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 2rem;
    height: min-content;
  }

  .scss-scrn img {
    width: min(30rem, 100%);
  }
  .scss-2 p {
    order: 1;
  }

  .scss-2 img {
    order: 2;
  }
  .scss-2 img {
    height: min(25rem, 100%);
  }
  .scss-text {
    align-items: flex-end;
    align-self: center;
  }
  .ftr-ctnr {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
    justify-items: center;
  }
  .ctc-ctnr {
    border-bottom: none;
  }
  .ftr-lst {
    border-bottom: none;
  }
  .ftr-lst-itm {
    text-align: left;
  }
  .scl-md {
    align-items: initial;
  }
  .txt-ftr-ctnr {
    grid-column: 1 / 4;
  }
  .abt-m-ctnr {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    padding-top: 0;
  }
  .abt-m-img {
    height: 70%;
  }
  .abt-m-lg-ctnr {
    width: 20rem;
  }
  .bttn {
    min-width: 15rem !important;
  }
  .fth-ctnr {
    padding: 2rem 1rem;
  }
  .scnd-ctnr .main-ttl,
  .frth-ctnr .main-ttl {
    text-align: right;
  }
  .scnd-ctnr .hr-txt,
  .frth-ctnr .hr-txt {
    text-align: right;
    width: 60%;
  }
  .thrd-ctnr .txt {
    width: 60%;
  }
  .srv-ctnr .txt {
    width: 70%;
  }

  .frth-ctnr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .main-ttl {
    font-size: clamp(1rem, 5vw, 20rem) !important;
  }
  .scnd-ctnr .main-ttl {
    font-size: clamp(1rem, 6vw, 20rem) !important;
  }
  .imgs-ctnr div {
    padding: 2rem 1rem 2rem 1rem;
  }
  .scnd-ctnr {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .scnd-ctnr .main-ttl {
    padding: 0;
  }
  .fst-ctnr {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .fst-ctnr .main-ttl {
    font-size: clamp(1rem, 8vw, 20rem);
    text-align: left;
  }
  .mn-ctnr {
    display: none;
  }
  .column2 {
    justify-content: center;
  }
  .hr-txt {
    text-align: left;
  }
  .lnklnk {
    align-self: flex-start;
  }
  /*   .nv-itm:last-child {
    display: none;
  } */
  .nv-itm {
    opacity: 1 !important;
    transform: translate(0px, 0px) !important;
    padding: 1rem;
    cursor: pointer;
    padding: 1rem 1.5rem;
  }

  .nv-itm:hover span {
    color: var(--sdy-clr);
  }
  .nv-itm .icon {
    opacity: 0;
  }

  .nv-ctnr {
    display: flex;
    height: initial;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
  }
  .nv-itm span {
    text-align: center;
    min-width: 4rem;
  }
  .nv-wrppr {
    padding: initial;
    height: initial;
    top: 0 !important;
    position: static !important;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;
    backdrop-filter: blur(0rem);
    -webkit-backdrop-filter: blur(0rem);
  }

  .prgph {
    display: block;
    color: #ffff;
  }
  .imgs-ctnr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5%;
    width: 100%;
    padding: 0 5%;
  }
  /*   #Aitm {
    height: 42vh;

    position: relative;
    z-index: 5;
  }
  #Bitm {
    height: 50vh;
    margin-top: 2rem;
  }
  #Citm {
    height: 32vh;
    margin-top: 0.5rem;
  } */

  .copy {
    height: fit-content;
  }

  .a {
    grid-area: imga;
    height: 50%;
    overflow: hidden;
  }
  .b {
    grid-area: imgb;
    height: 80%;
    overflow: hidden;
  }
}

@media screen and (min-width: 1440px) {
  .prm-ctnr .txt {
    width: 80%;
  }
  .main-ttl {
    font-size: clamp(1rem, 5vw, 20rem) !important;
  }
  .skn-prd-txt {
    padding: 2rem 4rem;
  }
  .pgrm-srv h5,
  .mdl-nm span {
    font-size: 3rem;
  }
  .tch-ctnr {
    min-height: fit-content;
    padding: 4rem 7% !important;
  }
  .grd-mdl .main-ttl {
    margin-bottom: 5rem;
  }
  .mdl {
    min-height: 350px;
    max-height: 360px;
    height: auto;
  }
  .bx-shdw {
    padding: 4rem 10rem;
    width: 80%;
  }
  .txt,
  .text,
  .prd-dsc p,
  .prd-ctnr .txt,
  .fst-ctnr .hr-txt,
  .scnd-ctnr .hr-txt,
  .frth-ctnr .hr-txt,
  .scss-tstm,
  .pgrm-srv li,
  .tch-ctnr li {
    font-size: 23px !important;
  }
  .abt-m-ctnr,
  .fst-ctnr,
  .prm-ctnr,
  .prd-ctnr,
  .ctc-scrn-ctnr {
    margin-top: 100px;
  }
  /*   .mdl-poly {
    width: 10rem;
  } */
  .skn-prd-txt .txt {
    min-height: 420px;
  }
  .prd-itm-ctnr {
    column-gap: 2%;
    padding: 2rem 5% !important;
  }
  .mdl:nth-of-type(1) {
    grid-column: 1/4;
    grid-row: 2/2;
    padding: 1rem 7rem 1rem 2rem;
  }

  .mdl:nth-of-type(1) .mdl-poly img,
  .mdl.mdl:nth-of-type(3) .mdl-poly img {
    height: 300px;
    left: 95%;
  }
  .mdl:nth-of-type(2) .mdl-poly img,
  .mdl:nth-of-type(4) .mdl-poly img {
    height: 300px !important;
    left: 10px !important;
    transform: translateX(-130px) !important;
    /*     position: absolute; */
  }
  .hdr-ctnr,
  .abt-m-ctnr,
  .abt-m-sc2,
  .scss-scrn,
  .ctnr,
  .ftr-ctnr,
  .fst-ctnr {
    padding: 2rem 7%;
  }
  .fst-ctnr {
    padding: 0 7%;
  }
  .hdr-ctnr {
    padding: 1.2rem 7%;
  }
  .ftr-lst {
    padding: 0;
  }
  :root {
    font-size: 18px;
  }
}

@media screen and (min-width: 2338px) {
  .mdl:nth-of-type(1) .mdl-poly img,
  .mdl.mdl:nth-of-type(3) .mdl-poly img {
    transform: translateX(50px) !important;
  }
}
